.add-movie-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
}

.add-movie-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
}

.add-movie-card h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8rem;
  color: #333;
}

.add-movie-form .form-group {
  margin-bottom: 15px;
}

.add-movie-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #555;
}

.add-movie-form .form-group input,
.add-movie-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.add-movie-form .form-group textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}


.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #b03052;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #d76c82;
}

